<!--include 구문 사용-->

<div style="text-align: center;">
    {# margin 상하여백, 좌우여백   #}
    <div class="header_logo">
        <h1>SS Page</h1>
    </div>
    <div class="header_button">
        <span>nav1</span>
        <span>nav2</span>
        <!--로그인 상태와 로그아웃 상태에 따라 다르게 보여주기-->
        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">Login</a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">Sign up</a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:detail' pk=user.pk%}">My Page</a>
        </span>
        <span>
            <a href="{% url 'accountapp:logout' %}">Logout</a>
        </span>
        {% endif %}
    </div>
</div>